* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
  background: rgb(187, 187, 187);
}
div {

    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(187, 187, 187);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
   
}

section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    padding: 10px 30px;
    border-radius: 20px;
    background: rgb(125, 125, 125);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section h2 {
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
}

section form {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form label {
    color: whitesmoke;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 7px;
}

form input {
    width: 100%;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
    border: 0;
    border-radius: 16px;
    font-size: 15px;
    
}


form textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 16px;
    font-size: 15px;
    margin-bottom: 10px;
    
}


form button {
    width: 100%;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    transition: all 1s;
    margin-top: 20px;
}

form button:hover {
    background: whitesmoke;
    color: rgb(125, 125, 125);
    border-radius: 16px;
}

.btn-container {
    text-align: left; /* Alinha à esquerda */
    margin: 20px 0;
}

.btn-voltar {
    display: inline-block;
    padding: 8px 12px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.btn-voltar:hover,
.btn-voltar:focus {
    background-color: #36332f;
    color: white;
    outline: none;
    transform: scale(1.05);
}
