* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white ;
    margin: auto;
    padding: 0;
    text-align:initial;
    

}
header {
    text-align: center;
    background-color:#989898;
    padding: 8rem;
    font-size: 2.1rem;
}

.apresentacao-matheus {
  display: flex;
  align-items: center;      /* Alinha verticalmente */
  justify-content: center;  /* Centraliza no meio da tela */
  gap: 20px;                /* Espaço entre imagem e texto */
  max-width: 1000px;        /* maximo de espaço que um elemento pode ter*/ 
  margin: auto;
  padding: 20px;

}

img {
    width: 200px;
  height: auto;
  border-radius: 10px;
}
