* {
    border: 2;
    margin: 1;
    padding: 1;
}
body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
h1 { text-align: center;}

button a {
    text-decoration: none; /*  usado para tirar o sublinhado do conteúdo do button*/
  }
  button { 
    background-color: white ;   
    color: black;     
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2); 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .voltar a {
    text-decoration: none;
    color: black;
}