body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 105px;
  }
  
  .produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; 
    justify-content: center;
    box-shadow: none;
  }
  
  .produto {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  padding: 15px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
  
  .produto:hover {
    transform: translateY(-10px); 
  }
  
  .produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    border: none;
    box-shadow: none 
    

     
  }
  
  .produto h3 {
    margin: 15px 0 5px;
    font-size: 15px; 
  }
  
  .produto p {
    color: #333;
    font-size: 18px; 
    font-weight: bold; 
  }
  
 .btn-container {
    text-align: left; 
    margin: 20px 0;
}

.btn-voltar {
    display: inline-block;
    padding: 8px 12px;
    color: #333;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.btn-voltar:hover,
.btn-voltar:focus {
    background-color: #36332f;
    color: white;
    outline: none;
    transform: scale(1.05);
}
