body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 105px;
  }
  
  .produtos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px; /* Aumentei o gap entre os produtos */
    justify-content: center;
    box-shadow: none;
  }
  
  .produto {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  padding: 15px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}
  
  .produto:hover {
    transform: translateY(-10px); /* Efeito hover (mexe quando passa o cursor) */
  }
  
  .produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    border: none;
    box-shadow: none /* sem sombra visível */
    

    /* o "box-shadow: none" serve para retirar a sombra, onde aqui determinei para tirar das imagens dos produtos */
  }
  
  .produto h3 {
    margin: 15px 0 5px;
    font-size: 15px; /* Aumentei o tamanho da fonte */
  }
  
  .produto p {
    color: #333;
    font-size: 18px; /* Aumentei o tamanho da fonte */
    font-weight: bold; /* Deixei o preço mais destacado */
  }
  
  button a {
    text-decoration: none; /*  usado para tirar o sublinhado do conteúdo do button*/
  }
  button {
    padding: 10px 30px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(125, 125,125 )0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: rgb(125, 125, 125) 0px 7px 0px 0px;
  }
  
  button:active {
    background-color: rgb(125, 125, 125);
    /*50, 168, 80*/
    box-shadow: rgb(125, 125, 125) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 700ms;
  }
  .voltar a {
    text-decoration: none;
    color: whitesmoke;
}
select {
  color: black;
  padding: 6px;
  font-size: 15px;/* fonte do TAMANHO (P,M, G ou GG)*/
  margin-top: 4px;
  width: 45px; /*melhor tamanho de "caixinha de seleção" para não sobrar espaço ou faltar de acordo com o valor do tamanho (P,M,G ou GG)*/
}
